.vs/RinaSharp/v14/vbcs.cache/storage.ide
.vs/RinaSharp/v14/vbcs.cache/edbtmp.log
.vs/RinaSharp/v14/vbcs.cache/edbres00001.jrs
.vs/RinaSharp/v14/vbcs.cache/edb00020.log
.vs/RinaSharp/v14/vbcs.cache/edb0001F.log
*.log
*.jrs
.vs/RinaSharp/v14/.suo
*.chk
Demo/TimeServer/bin/Debug/System.Net.Rina.dll
*.pdb
Demo/TimeServer/bin/Debug/System.Threading.Tasks.Dataflow.dll
Demo/TimeServer/bin/Debug/TimeService.exe.config
Demo/TimeServer/bin/Debug/TimeService.vshost.exe
*.cache
Demo/TimeServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Demo/TimeServer/obj/Debug/TimeServer.csproj.FileListAbsolute.txt
Demo/TimeServer/obj/Debug/TimeService.exe
Demo/TimeServer/obj/Debug/TimeService.csproj.FileListAbsolute.txt
Demo/TimeServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Demo/TimeServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Demo/TimeServer/bin/Debug/TimeService.exe
Demo/TimeServer/obj/Debug/TimeServer.exe
Demo/TimeServer/bin/Debug/System.Threading.Tasks.Dataflow.xml
Demo/TimeServer/bin/Debug/TimeService.vshost.exe.config
*.~vsdx
System.Net.Rina/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
System.Net.Rina/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
System.Net.Rina/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs